@import "lib/styles/styles.scss";

.carouselNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: max-content;

    @include breakpoint-min($md) {
        grid-gap: 2rem;
    }
}

.carouselNav_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    animation-duration: 1s;
    height: 100%;

    img {
        width: 3rem;
    }

    &:hover {
        animation-name: bounce;
    }

    &--active {
        cursor: default;
        opacity: .75;
        background-color: rgba(0, 0, 0, 0.25);
        animation: none;
    }
}


