@import "lib/styles/styles.scss";

.container {
    position: relative;
    margin: auto;
}

.content {
    @include content();
    margin: auto;
    padding-bottom: 4rem;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.loading {
    position: absolute;
    top: calc(100vh / 3);
    left: 0;
    right: 0;
    margin: auto;
}
