@import "lib/styles/styles.scss";

.container {
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.content {
    padding: 2rem;

    @include breakpoint-min($md) {
        padding: 2rem 3rem;
    }
}

.loading {
    position: absolute;
    top: calc(100vh / 3);
    left: 0;
    right: 0;
    margin: auto;
}
