@import "lib/styles/styles.scss";

.container {
    display: flex;
    position: relative;

    .shiny {
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
            opacity: 0.75;
        }

        @include breakpoint-min($md) {
            width: 4rem;
            height: 4rem;
        }
    }

    .sprite {
        width: 50%;
        height: 50%;
        margin: auto;
    }
}
