@import "lib/styles/styles.scss";

$width: 100vw;
$height: 100vh;

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    &_content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        height: max-content;
        max-width: 600px;
        max-height: 400px;
        background-color: #fff;
        border-radius: 0.5rem;
        padding: 1rem;
        box-sizing: border-box;

        @include breakpoint-min($md) {
            padding: 2rem;
        }
    }
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}
